# Ignore specified analysis folders
NWBdata/
Raw RNAscope data/

# Ignore specific file types globally
*.mov
*.txt
*.zip
*.RData
*.ai
*.abf
.DS_store
*.Rapp.history
*.command
*.pdf

# Unignore .svg files in images/ but still ignore elsewhere
!images/**/*.svg
!images/**/*.png


# Ignore everything in the root directory 'Rfits'
/Rfits/




