# Ignore specified analysis folders
Final figures/
NWBdata/
RNAscope data/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
examples/analysePSC_orig.mov

__pycache__/
*.pyc


# Ignore specific file types globally
*.txt
!requirements.txt
*.zip
*.RData
*.ai
*.abf
.DS_Store
*.Rapp.history
*.command
*.pdf

# Unignore .svg files in images/ but still ignore elsewhere
!images/**/*.svg
!images/**/*.png


# Ignore everything in the root directory 'Rfits'
/Rfits/


